# ── Solana ──
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta
NEXT_PUBLIC_PROGRAM_ADDRESS=De1egAFMkMWZSN5rYXRj9CAdheBamobVNubTsi9avR44

# ── Supabase ──
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# ── Email (Resend) ──
RESEND_API_KEY=

# ── Queue (Upstash QStash) ──
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# ── Vercel ──
VERCEL_URL=

# ── Subly ──
NEXT_PUBLIC_SUBLY_TOKEN_MINT=FwiaNTvgRCHEZGeKAfwcSE5KDxmh7jJPssT1pWqVpump
